@model Pozdravlyator.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    @if (!string.IsNullOrEmpty(Model.PicturePath))
    {
        <img src="~/images/@Url.Content(Model.PicturePath)" alt="Sample Photo" class="small-img" />
    }
    else
    {
        <img src="~/images/base.png" alt="Sample Photo" class="small-img" />
    }
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PicturePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
